# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vs/
.vscode/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# User-specific files
*.suo
*.user
*.sln.docstates

# NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# Stride specific
*.sdpkg
*.sdtmp
*.sddeps
*.sdsl.cs
obj/
bin/
Cache/
*.stmp
.sdconfig

# OS files
.DS_Store
Thumbs.db

# Test results
TestResults/
*.trx
*.coverage
*.coveragexml
